<div class="form-container">
    <h2>Generar reporte</h2>
    <form>
      <div class="form-group">
        <label for="fechaInicio">Fecha de inicio</label>
        <input type="date" id="fechaInicio">
      </div>
      <div class="form-group">
        <label for="fechaFin">Fecha fin</label>
        <input type="date" id="fechaFin">
      </div>
      <div class="form-group">
        <label for="nitEmpresa">NIT Empresa</label>
        <input type="text" id="nitEmpresa" placeholder="NIT Empresa">
      </div>
      <div class="buttons">
        <button type="submit">Generar reporte</button>
      </div>
    </form>
  </div>  