<div>
  <h2>Gestión de Platos</h2>
  <form (ngSubmit)="guardarPlato()">
    <label for="nombre">Nombre:</label>
    <input [(ngModel)]="plato.nombre" name="nombre" required />

    <label for="precio">Precio:</label>
    <input [(ngModel)]="plato.precio" name="precio" type="number" required />

    <label for="descripcion">Descripción:</label>
    <input [(ngModel)]="plato.descripcion" name="descripcion" />

    <label for="categoria">Categoría:</label>
<input [(ngModel)]="plato.categoria" name="categoria" placeholder="Categoría del plato" />


    <button type="submit">{{ editando ? 'Actualizar' : 'Añadir' }} Plato</button>
  </form>

  <h3>Platos Registrados</h3>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoria</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plato of platos">
        <td>{{ plato.nombre }}</td>
        <td>{{ plato.precio }}</td>
        <td>{{ plato.categoria }}</td>
        
        <td>
          <button (click)="editarPlato(plato)">Editar</button>
          <button (click)="eliminarPlato(plato.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
